body
{
	margin:0;
	padding:0;
	background-image:  url("AMD-vs-Intel-1.png");
	background-position:center;
	
	

}
#container
{
	width:1000px;
	height:1000px;
	margin:0 auto;
	background-color: linear-gradient(110deg, #ff1414 35%, #14c0ff 78%);
	
}
header
{
	width:100%;
	height:100px;
	background-color:#bbb;
}
nav
{
	width: 100%;
	height:40px;
	background: linear-gradient(110deg, #ff1414 1%, #14c0ff 78%);
}
.horizontal
{
	width: 100%;
	height:10px;
}
.horizontal ul
{
	list-style-type:none;
	margin:0;
	
	
}
.horizontal li
{
	float:left;
	
}
.horizontal a
{
	display:block;
	width:180px;
	color:black;
}
a:link
{
	font-size:16px;
	background-color: linear-gradient(110deg, #ff1414 35%, #14c0ff 24%);
	border-right:2px solid black;
	padding-top:6px;
	padding-bottom:6px;
	text-align:center;
	text-decoration:none;
}
a:hover /* мишката върху прозореца */
{
	color:white;
	background: linear-gradient(110deg, #ff1414 24%, #14c0ff 57%);
	text-decoration:underline;
}
section
{
	width:100%;
	height:1136px;
	background: linear-gradient(110deg, #ff1414 2%, #14c0ff 86%);
	border-bottom:20px;
	font-size:25px;
	
}


